.order-item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: start;
  gap: 3rem;
  border: 1px solid tomato;
  padding: 2rem;
  margin: 3rem 0;
  font-size: 1.4rem;
  color: #505050;
}

.order-item-food,
.order-item-name {
  font-weight: 600;
}

.order-item-name {
  margin-top: 3rem;
  margin-bottom: 5px;
}

.order-item-address {
  margin-bottom: 1rem;
}

.order-item select {
  background-color: #ffe8e4;
  border: 1px solid tomato;
  width: max(10vw, 12rem);
  padding: 1rem;
  outline: none;
}

@media (max-width: 1000px) {
  .order-item {
    font-size: 1.2rem;
    grid-template-columns: 0.5fr 2fr 1fr;
    padding: 1.5rem 8px;
  }
  .order-item select {
    padding: 5px;
    font-size: 12px;
  }
  .order-item img {
    width: 4rem;
  }
}
