.food-display{
    margin-top: 3rem;

}
.food-display h2{
    font-size: max(2vw,2.4rem);
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(24rem,1fr));
    margin-top: 3rem;
    gap: 3rem;
    row-gap: 50px;
}